</div>
<div class="footer-padding"></div>
<div class="footer">
  <p class="footer-style">By <a href="https://github.com/revantKulkarni">Revant Kulkarni</a> <img
      src="/images/github.png" width="20px" height="20px" alt="">
  </p>

</div>
</div>
</body>

</html>