<%- include("partials/header"); -%>


<h1>About</h1>
<p>A personal journal is an ideal environment in which to become. It is a perfect place for you to think, feel,
    discover, expand, remember, and dream because documenting little details of your everyday life becomes a celebration
    of who you are 😉.</p>

<%- include("partials/footer"); -%>